<div class="leading-normal tracking-normal text-gray-900">
    <div class="h-screen pb-14 bg-right bg-cover" style="background-image:url('./assets/bg.svg');">
        <div class="w-full container mx-auto p-6">
            <div class="w-full flex items-center justify-between">
                <a class="flex items-center text-black-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
                    href="#">
                    anyChatbot GPT
                </a>
            </div>
        </div>
        <div class="container pt-24 md:pt-48 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">
            <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
                <h1
                    class="my-4 text-3xl md:text-5xl text-black-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">
                    The smartest bots around live in anyChatbotGPT</h1>
                <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">
                    Browse them, customize them or create yours.</p>
           
                        <button class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded" (click)="onClick()">
                            Start chatting now!
                          </button>
                

            </div>


            <div class="w-full xl:w-3/5 py-6 overflow-y-hidden">
                <img class="w-5/6 mx-auto lg:mr-0 slide-in-bottom" src="./assets/devices.svg">
            </div>
            <div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">
                <a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; anychatbot 2023</a>
            </div>
        </div>
    </div>
</div>
