<!-- <p>prompts works!</p> -->
<!-- <div *ngFor="let prompt of prompts">
  <div> {{ prompt | json }} </div>
</div> -->

  <!-- <nb-list
    nbInfiniteList
    listenWindowScroll
    [threshold]="10"
    (bottomThreshold)="loadNext()">
    <nb-list-item *ngFor="let prompt of prompts">
      <nb-card size="medium">
        <nb-card-header>{{ prompt.title}}</nb-card-header>
        <nb-card-body>{{ prompt.description }}</nb-card-body>
        <nb-card-footer>{{ prompt.category }} | {{ prompt.subCategory }}
          <hr>
          <span *ngFor="let tag of prompt.tags"> #{{ tag  }}</span>
        </nb-card-footer>

      </nb-card>
    </nb-list-item>
  </nb-list> -->


<nb-card>
  <nb-card-header>
    <nb-icon icon="message-square-outline"></nb-icon>&nbsp; Premade chatbots
  </nb-card-header>
  <nb-card-body>
    <i>You should always begin a conversation by greeting your interlocutor, whether it is a chatbot or not. 
      During the conversation, press "help" to receive a hint on how to interact with the bot.</i>
  </nb-card-body>
</nb-card>

  <nb-accordion multi>
    <nb-accordion-item *ngFor="let prompt of prompts; index as i">
      <nb-accordion-item-header>
          <nb-user picture="{{ prompt.avatarURL }}" name="{{ prompt.title}}" title=" {{ prompt.category}} ({{ prompt.lang }})"></nb-user>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        {{ prompt.description }}
        <br>
        <br>
        <button size="small"  (click)="onSetCurrentPrompt(i)" nbButton>Chat now</button>

      </nb-accordion-item-body>
    </nb-accordion-item>
  
  </nb-accordion>
<!-- <ul>
<li   *ngFor="let prompt of prompts; index as i">{{ prompt.title }}</li>
</ul> -->
